<div class= "sidebar">
  <div class="row">
    <div class="col-2">
      <div class="list-group span2 fill" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action left-navbar dropdown-toggle" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">DASHBOARD</a>
        <a class="list-group-item list-group-item-action left-navbar dropdown-toggle" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">LEASING</a>
        <a class="list-group-item list-group-item-action left-navbar dropdown-toggle" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">PROPERTIES</a>
        <a class="list-group-item list-group-item-action left-navbar dropdown-toggle" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">PEOPLE</a>
        <a class="list-group-item list-group-item-action left-navbar dropdown-toggle" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">ACCOUNTING</a>
        <a class="list-group-item list-group-item-action left-navbar dropdown-toggle" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">MAINTENANCE</a>
        <a class="list-group-item list-group-item-action left-navbar dropdown-toggle" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">REPORTING</a>
        <a class="list-group-item list-group-item-action left-navbar dropdown-toggle" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">COMMUNICATION</a>
        <a class="list-group-item list-group-item-action left-navbar dropdown-toggle" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">WHAT'S NEW</a>
      </div>
    </div>
  </div>
</div>
